body {
    background-color: #282C34;
}

#WebCanvas {
    border: 5px solid #71A0CA;
    border-radius: 10px;
}

#sidebar_right{
    width:30%;
    height:600px;
    margin-top:5px;
    margin-bottom:5px;
    float:right;
}

div {
    padding: 15px 0 0 0;
}

.button, .dropbtn{
    background-color: lightblue;
    color: royalblue;
    font-size: 16px;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: Comic;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
}

#brush{
    background-image: url("brush.png");
}

#eraser{
    background-image: url("eraser.png");

}

#rect{
    background-image: url("rect.png");
}

#tri{
    background-image: url("tri.png");
}

#circle{
    background-image: url("circle.png");
}

#clear{
    background-image: url("clear.png");
}

#undo{
    background-image: url("undo.png");
}

#redo{
    background-image: url("redo.png");
}

#text{
    background-image: url("text.png");
}

#download{
    background-image: url("download.png");
}


.button:hover, .dropbtn:hover{
    background-color: royalblue;
    color: lightblue;
}

#imageLoader{
    height: 0.1px;
    width:  0.1px;
}

#imageLoaderBtn{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: -4px;
    background-color: lightblue;
    color: royalblue;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-image: url("upload.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;

}
#crop{
    background-image: url("crop.png");
}
#imageLoaderBtn:hover{
    background-color: royalblue;
    color: lightblue;
}
